<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
    .fo{
    	font-family: "Times New Roman", Times, serif;
    	font-size: 80px;
    }
        .p1{
                width:95%;
                margin: 0 auto;
                padding-top: 50px;
        }
        .p2{
            text-align:center;
        }
        .p3{
            margin: 0 auto;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>